.screen-center{
    width: 100%;
    height: 30vh;
    display: grid;
    align-items: center;
}

.screen-center > ul  {
    list-style: none;
}

.screen-center > ul  > li {
    margin: 2em 0em;
}

.screen-center > ul  > li > a{

    padding: 1px;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    padding: 0.789em;
}

.content{
    display:flex;
    flex-flow: column wrap;
    flex: auto 1 1;    
}

.btn-view{
    margin: 0.55em 0em 4em 0em;
}