.btn-view{
    width: 20%;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    padding-top: 4em;
}

.btn-view > ul  {
    padding: 0;
    margin-top:1em;
    list-style: none;
}

.btn-view > ul  > li {
    margin: 2em 0em;
}

.btn-view > ul  > li > a{

    padding: 1px;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    padding: 0.789em;
}

.content{
    margin-top: 5em;
    display:flex;
    flex-flow: row-reverse nowrap;
    flex: auto 1 1;    
    
    
}

@media screen and (max-width: 833px) {
    .content{
        flex-flow: row wrap;
    }
    .content .btn-view{
        width: fit-content;
        height: auto;
        margin-left: 0.43em;
        margin-bottom: 0.58em;
    }

    .content .btn-view ul  li{
        display: inline;
    }
}

.btn-view{
    margin: 0;
    padding: 0;
}

.router-view{
    margin: 0;
    width:85%;
    height:55vh;
}